<h1>About Us</h1>
<section>
    <p>KALES is a small team of undergraduate students, was founded in January 2022. After seeing dire need for a local bike sharing app in Nipmuc Notch, our team set out with the goal of providing a new equitable method of transportation for all our users. ValetBike has an affordable, environmentally friendly option for everyone, whether you're looking for a leisure ride on the weekend or a way to work. Outside of software engineering, our team likes to play minecraft, chess, and complain. </p>
</section>

<section>
<h2>Meet Our Team</h2>
    <p>LUCIE BROCK (they/them)</p>
        <p>chair of the vibes committee</p>
    <p>ALINE MARRA (she/they)</p>
	    <p>lead critic</p>
    <p>ELENI PARTAKKI (she/her)</p>
	    <p>squire of positivity</p>
    <p>SUNNI RALEIGH (she/they)</p>
        <p>the hack</p>
    <p>KAT VAN GREEN (she/they)</p>
	    <p>“creative” director</p>
</section>
