<div class="section-inner flexbox vertical stretch">
<h1>About Us</h1>
<section>
    <p>KALES is a small team of undergraduate students founded in January 2022. After seeing dire need for a
        local bike sharing app in Nipmuc Notch, our team set out with the goal of providing a new equitable
        method of transportation for all our users. ValetBike has an affordable, environmentally friendly
        option for everyone, whether you're looking for a leisure ride on the weekend or a way to work.
        Outside of software engineering, our team likes to play minecraft, chess, and complain. </p>
</section>

<section>
    <h2>Meet Our Team</h2>
    <div class="card-group">
    <div class="card text-center" style="width: 18rem;">
        <img src="/assets/lucie.png" class="card-img-top" alt="Lucie!">
        <div class="card-body">
            <h5 class="card-title">LUCIE (they/them)</h5>
            <p class="card-text">chair of the vibes committee</p>
        </div>
    </div>
    <div class="card" text-center style="width: 18rem;">
        <img src="/assets/aline.png" class="card-img-top" alt="Aline!">
        <div class="card-body">
            <h5 class="card-title">ALINE (she/her)</h5>
            <p class="card-text">lead critic</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img src="/assets/eleni.png" class="card-img-top" alt="Eleni!">
        <div class="card-body">
            <h5 class="card-title">ELENI (she/her)</h5>
            <p class="card-text">squire of positivity</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img src="/assets/sunni.png" class="card-img-top" alt="Sunni!">
        <div class="card-body">
            <h5 class="card-title">SUNNI (she/they)</h5>
            <p class="card-text">the hack</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img src="/assets/kat.png" class="card-img-top" alt="Kat!">
        <div class="card-body">
            <h5 class="card-title">KAT (she/they)</h5>
            <p class="card-text">"creative" director</p>
        </div>
    </div>
    </div>
</section>
</div>