<h1>About Us</h1>
<section>
    <p>Founded in 2022 by the Kales Collective, ValetBike is Nipmuc Notch's premiere bike rental co-op app. Since our inception, we've been dedicated to providing a new equitable method of transportation for all our users. ValetBike has an affordable option for everyone, whether you're looking for a leisure ride on the weekend or a way to work.</p>
</section>
<section>
<h2>Meet Our Team</h2>
<p>Once Kat's done with the other pages, they'll do a nice team flexbox section.</p>
</section>