<h1>About Us</h1>
<section>
    <p>Founded in 2022 by the Kales Collective, ValetBike is Nipmuc Notch's premiere bike share co-op app. Since our inception, we've been dedicated to providing a new equitable method of transportation for all our users. ValetBike has an affordable, environmentally friendly option for everyone, whether you're looking for a leisure ride on the weekend or a way to work.</p>
</section>
<section>
<h2>Meet Our Team</h2>
    <p>LUCIE BROCK (they/them) is such a welcoming person. I want to do the same for them.</p>
    <p>ALINE MARRA (she/her) is one of my best friends. Genuinely, let me give her the world.</p>
    <p>ELENI PARTAKKI (she/her) intimidates me but in the way that makes me want to be the best version of myself.</p>
    <p>SUNNI RALEIGH (she/they) has the best vibes ever, and it's kind of homophobic that we only became friends this semester.</p>
    <p>KAT VAN GREEN (she/they) is a front-end developer and aspiring archivist. Outside of ValetBike, they're currently working on a story-based game about lighthouses, ghost, and memory.</p>
</section>
