<h1>User Account</h1>
<p>Placeholder for profile "picture."</p>
<dl>
    <dt>Userame:</dt>
    <dd> <%= current_user.username %> </dd>
    <dt>Password (definitely a secure practice): </dt>
    <dd> <%= current_user.password %> </dd>

    <%
    # <dt>Username:</dt>
    # <dd>[insert username here]</dd>
    # <dt>Email:</dt>
    # <dd>[insert email here]</dd>
    # <dt>Payment plan:</dt>
    # <dd>[insert payment plan here]</dd>
    # <dt>Linked PayPal account:</dt>
    # <dd>[insert linked paypal account here]</dd>
    %>
    
</dl>