<h1>Frequently Asked Questions</h1>
<section>
    <h2>I want to rent a bike. Where do I start?</h2>
    <p>If you have an account, click <%= link_to "here", "/login", class: "nav-link" %> to log in. Otherwise, sign up <%= link_to "here", "/signup", class: "nav-link" %>!</p>
</section>

<section>
    <h2>Do I need a ValetBike account to rent a bike?</h2>
    <p>Yes, we need a way to contact you in case of rental issues.</p>
</section>

<section>
    <h2>What are the different membership options?</h2>
    <p>Click <%= link_to "here", "/pricing", class: "nav-link" %> to view our pricing plans.</p>
</section>

<section>
    <h3>What if I want to ride for longer than 30 minutes?</h3>
    <p>Monthly and annual memberships both enjoy 45 minute long rides.</p>
</section>
