<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  
<div id="map" style="width: 600px; height: 400px;"></div>

<script>

var map = L.map('map').setView([42.325, -72.65], 14);


L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var lat;
var lng;
var name;

<% Station.all.each do |s| %>
  lat = <%= s.lat %>;
  lng = <%= s.lng %>;
  L.marker([lat, lng]).addTo(map).bindPopup('<%=s.name%>').openPopup();
<% end %>

</script>