<h1>Pricing</h1>
<h2>Select your plan.<h2>

<div class="card-group">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <%= button_to "Get Single Pass", '/payment', class="btn btn-primary", method: :get%>
            <p class="card-text">Single ride, $2/trip, one ride for up to 30 minutes</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <%= button_to "Get Day Pass", '/payment', class="btn btn-primary", method: :get%>
            <p class="card-text">Day pass, $6/day, unlimited 30 minute rides for 24 hours</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <%= button_to "Get Month Pass", '/payment', class="btn btn-primary", method: :get%>
            <p class="card-text">Month pass, $20/month, unlimited 45 minute rides for a month</p>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <%= button_to "Get Annual Pass", '/payment', class="btn btn-primary", method: :get%>
            <p class="card-text">Annual pass, $80/year, unlimited 45 minute rides for a year</p>
        </div>
    </div>
</div>
