<br/>
<img src="/assets/logo.png" alt = "Background">
<br/>
<br/>

<h1>Welcome to ValetBike by KALES</h1>
<h2>Aline, Eleni, Kat, Lucie, Sunni</h2>
<h3>Your local software engineering learners</h3>

<br/>
<img src="/assets/download.jpg" alt = "Background">

<br/>
