<img src="/assets/download.jpg" alt = "Background">
<p style="background-image: url('img_girl.jpg');">
<h1>Welcome to ValetBike by KALES</h1>
<h2>Aline, Eleni, Kat, Lucie, Sunni</h2>
<h3>Your local software engineering learners</h3>