:root {
  --title-font:             'Rubik', 'Rubik Microbe';
  --body-font:              'Rubik', 'Rubik Microbe';

  --black-color:            #d7dc74;
  --light-black-color:      #2E2230;
  --gray-color:             #d7dc74;
  --light-gray-color:       #D0CED1;
  --dark-white-color:       #ed7331;
  --medium-white-color:     #a9b7d5;
  --white-color:            #526f71;

}