:root {
  --title-font:             'Roboto';
  --body-font:              'Roboto';

  --black-color:            #1C0F13;
  --pink-color:             #c0a9b0;
  --light-pink-color:       #dcd0d4;
  --lighter-pink-color:     #f7ebef;
  --raspberry-color:        #7d223d;
  --medium-pink-color:      #f7779d;
  --purple-color:           #383347; 
  --white-color:            #fff;

}